.grid-container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 60px);
    grid-gap: 1px;
    margin-top: 60px;
}

.grid-elements {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.grid-elements::after {
    content: '';
    height: 30%;
    background: linear-gradient(transparent, rgba(0,0,0,0.5));
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.grid-elements:hover:before {
    transform: scale(1.05);
}

.grid-elements:before {
    content: '';
    background-color: #DDD;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s ease all;
}

.grid-elements.grid-elements__master-planning::before {
    background-image: url('../images/masterplanning.jpg');
}

.grid-elements.grid-elements__retail-design::before {
    background-image: url('../images/retaildesign.jpg');
}

.grid-elements.grid-elements__sustainability::before {
    background-image: url('../images/sustainability.jpg');
}

.grid-elements.grid-elements__mixed-use::before {
    background-image: url('../images/mixeduse.jpg');
}

.floating-label {
    position: absolute;
    z-index: 99;
    font-weight: bold;
    color: #FFF;
    bottom: 15px;
    left: 15px;
    font-size: 24px;
}


/** Expertise Pages **/


.page-top-left {
    margin-bottom: 50px;
}


.placeholder {
    height: calc(100vh - 60px) !important;
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}

.content__full-width {
    width: 100%;
    padding: 30px 30px;
    background: #f1f1f2;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 64px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    position: relative; 
    outline: none;
}

.content__full-width.full-height {
    height: calc(100vh);
}

.close-overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    background-image: url(../images/LaguardaLow_closeButtonBlack.png);
    background-repeat: no-repeat;
    background-size: contain;
}


h3.title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
}

h4.section-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
}

h5.subtitle {
    font-weight: normal;
    font-size: 12.5px;
}

.video-container {
    width: 100%;
    background-color: #DDD;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    display: block;
}
.related-projects {
    display: grid;
    margin-top: 16px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.related-projects .project-thumb {
     background-color: #DDD;
}

.related-projects .project-thumb img {
    height: 100%;
}

.related-projects .project-thumb .project-info {
    padding: 15px 15px;
}

.approach-nav {
    position: absolute;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    left: 30px;
    bottom: 60px;
    text-decoration: none;
    white-space: nowrap;
}

.approach-nav a {
    position: absolute;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    left: 0;
    bottom: 0;
    text-decoration: none;
    white-space: nowrap;
}

.approach-nav:active,
.approach-nav:visited,
.approach-nav:hover{
    color: #000000;
    text-decoration: none;
}

.approach-gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        "tp  tp  tp  tp  tp  tp  tp  tp  tp  tp"
        "lhs lhs lhs lhs lhs rhs rhs rhs rhs rhs";
    grid-gap: 16px;
}

.approach-gallery .img-block {
    overflow: hidden;
}

.img-block.top {
    grid-area: tp;
}

.img-block.lhs {
    grid-area: lhs; 
}

.img-block.rhs {
    grid-area: rhs;
}

.img-block img {
    display: block;
    width: 100%;
}


.new-york-band {
    padding-bottom: 150px;
}
.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.nopadding {
    padding: 0;
}

.gray-block {
    width: 100%;
    height: 350px;
}

.nomargin {
    margin: 0;
}
.nogap {
    grid-gap: 0;
 }

.gap-16 {
    grid-gap: 16px;
}

.job-opp {
    margin-top: 50px;
}

.job-opp h5 {
    padding: 2px 0;
}

.job-opp p {
    padding: 16px 0;
}

.job-opp .job-button,
.share-button {
    background-color: #bcbec0;
    display: inline-block; 
    border: none;
    color: #FFF;
    font-size: 12.5px;
    padding: 2px 24px;
    white-space: nowrap;
    min-width: 125px;
    outline: none;
}

.job-opp .job-button:hover,
.share-button:hover {
    background-color: #ED2939;
}


.lightbox {
    position: fixed;
    background-color: rgba(0,0,0,1);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: 0s visibility ease .15s, .15s opacity ease;
    z-index: 99999999;
    top: 0;
    left: 0;
}

.lightbox.visible {
    visibility: visible;
    opacity: 1;
}

.contact h1,
.contact h2,
.contact h3,
.contact h4,
.contact h5,
.contact h6 {
    font-weight: bold !important;
    margin: 0;
    column-span: all;
}

.grid-header {
    padding-top: 32px;
    padding-bottom: 16px;
}

.right,
.left {
    position: relative;
}

.nooverflow {
    overflow: hidden;
}

.innerpadding {
    padding: 30px 30px;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    background-color: #bcbec0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    color: #FFF;
    transform: translateX(100%);
    transition: ease all .35s;
}

.slide-out {
    transform: translateX(0)
}

.career-content {
    columns: 2;
    width: 100%;
    display: block;
    height: 100%;
    font-size: 24px;
}

.career-content h2 {
    font-size: 24px;
}

p {
    font-size: 12.5px !important;
}


.video-container {
    position: relative;
    overflow: hidden;
}

.video-container-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.hidden {
    visibility: none;
}

.video-container-overlay .button {
    background: url(../images/LaguardaLow_Play.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

.video-controls {
    position: absolute;
    bottom: 16px;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #FFF;
    text-shadow: 0 0 14px rgba(0,0,0,0.5);
    padding: 0 12px;
    align-items: center;
    transform: translateY(200%);
    transition: .25s ease all;
}

.video-container:hover .video-controls {
    transform: translateY(0)
}

.video-controls progress#seek-bar {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    background-color: #000;
    height: 6px;
    opacity: 1;
}

.video-controls progress::-webkit-progress-bar {
    background-color: #666;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.video-controls progress::-webkit-progress-value {
    background-color: #FFF;
}

#play-pause {
    background-image: url('../images/LaguardaLow_LittleArrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border: 0;
    height: 15px;
    width: 15px;
    outline: none;
}

#time-passed, #time-left {
    width: 50px;
    padding: 0 6px;
}

input[type=range]::-webkit-slider-thumb {
    display: none;
}



@media all and (max-width: 1199px) {
    .content__full-width {
        grid-template-columns: 1fr 1fr;
    }

    .grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-1 {
        grid-template-columns: 1fr;
    }
    
    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
  } 
@media all and (max-width: 991px) { 
    .content__full-width {
        grid-template-columns: 1fr;
    }
 } 
@media all and (max-width: 768px) {  } 
@media all and (max-width: 575px) {  }