header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.laguarda-low-header {
    background-color: #FFF;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 15px;
    box-sizing: border-box;
}

.flex-right,
.flex-left {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}
.flex-right {
    padding-left: 15px;
}


.flex-left .logo {
    background-size: contain;
    width: 170px;
    height: 100%;
    min-width: 170px;
}

.lang-toggle {
    display: flex;
    flex-direction: row;
    width: 70px !important;
    justify-content: space-between;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 20px;
    justify-content: flex-end;
    transition: ease width .5s;
    cursor: pointer;
}

.search-container form {
    display: flex;
}

.flex-col.search-col {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: flex-end;
}

#input-area {
    width: 100%;
    background-color: transparent;
    visibility: hidden;
    position: relative;
    z-index: -1;
    outline: none;
}

.band .search-container button {
    min-width: 20px;
    min-height: 20px;
    z-index: 9999999;
    position: relative;
}

.band .search-container:hover {
    width: 100%;
}

.band .search-container:hover #input-area {
    visibility: visible;
    border-bottom: 1px solid red;
    z-index: 1;
}




/**** Open Close ****/


.open-close {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    z-index: 9999999;
    visibility: hidden;
}

.band .dot:hover {
    background-color: #ED2939;
}

.band.active .dot,
.band:hover .dot {
    background-color: #C0C0C1;
}

.dot {
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: #FFF;
    transition: .15s ease width;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
}


.dot.top {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
}
  
.dot.bottom {
    transform: rotate(45deg);
    transform-origin: 100% 0;
}
  
.open-close.expand .dot {
    height: 2px;
    width: 2px;
    width: 31px;
    border-radius: 4px;
    background-color: #ED2939;
}

.search-mobile {
    display: none;
}