.grid-container {
    width: 100%;
    min-height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-auto-rows: min-content;
}

.project-thumb {
    position: relative !important;
    box-sizing: border-box;
    overflow: hidden; 
    z-index: 10;
}

.project-thumb::after {
    content: '';
    height: 30%;
    background: linear-gradient(transparent, rgba(0,0,0,0.5));
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.invisible {
    opacity: 0;
}

.project-thumb:hover img {
    transform: scale(1.1);
}


.project-thumb img {
    z-index: -1;
    width: 100%;
    display: block;
    transition: 0.75s ease all;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg) scale(1.05);
}

.project-info {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 30px;
    font-size: 12.5px;
    z-index: 2;
}

.project-info .project-title {
    text-align: left;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    cursor: auto;
}

.project-info .project-location {
    text-align: left;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    cursor: auto;
}

.project-title a {
    font-weight: 800 !important;
    color: #FFF;
    text-decoration: none;
}

.project-title a:hover {
    color: #FFF;
    text-decoration: none;
}

.project-info  span {
    display: block;
}

.project-category {
    font-size: 10.5px;
}

/* Navigation for the tiles */


ul.navigation-tabs {
    display: flex;
    justify-content: stretch;
    align-content: center;
    white-space: nowrap;
    list-style: none;
    font-size: 12.5px;
    cursor: pointer;
}



.navigation-tabs a {
    background-color: #C0C0C0;
    height: 30px;
    color: #FFF;
    flex: 1;
    width: 8.33%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-tabs a:visited,
.navigation-tabs a:active,
.navigation-tabs a:hover  {
    color: #FFF;
    text-decoration: none;
}

.navigation-tabs a:hover,
.navigation-tabs a.selected {
    background-color: #ed2939;
    text-decoration: none;
    color: #ffffff;
}

.navigation-tabs a:not(:last-of-type) {
    border-right: 1px solid #FFF;
}





/* Projects Loading Screen */


/* Fade in and up animation */
@keyframes loadImages {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-grid {
    animation: loadImages .75s ease;
}

/* Fade out randomly animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-grid {
    animation: loadImages .75s ease;
}

.fade-out {
    animation: fadeOut .345s ease forwards;
}




/* Archives Page */

.archives-overlay {
    height: calc(100vh - 90px);
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    background-color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    overflow: scroll;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: .25s ease opacity, visibility 0s ease 1s;
}

.table-header,
.table-contents {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.archives-overlay .table-header {
    margin-top: 50px;
}

.archives-overlay .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    box-sizing: border-box;
    border-bottom: 1px solid #FFF;
    opacity: 0;
}

.archives-overlay :not(.table-header) .table-row {
    background-color: #F1F1F2;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
}

.archives-overlay :not(.table-header) .table-row.selected {
    font-weight: bold;
    color: #ed2939;
    background-color: #FFF;
}

.archives-overlay :not(.table-header) .table-row:hover {
    background-color: #FFF;
    color: #ed2939;
}

.archives-overlay .table-cell {
    display: border-box;
    padding: 10px 30px;
}

.archives-overlay .table-header .table-cell {
    font-weight: bold;
    text-transform: uppercase;
}

.archives-overlay .table-cell:first-of-type {
    font-weight: bold;
}

.slide-open {
    width: 100%;
    box-sizing: border-box;
    height: 0;
    color: #000;
    transition: all .15s ease;
    padding: 0 30px;
    font-weight: normal;

}

.slide-open img {
    width: 100%;
    display: block;
}

.slide-open a {
    color: #ed2939;
    font-weight: bold;
    font-size: 15px;
}

.open {
    height: 250px !important;
    padding:  10px 30px;
}
/* NO SROLL */

.noscroll {
    overflow: hidden;
}

.archives-overlay.visible {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 1s, opacity .15s ease;
}

@keyframes animateRows {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.row-animate {
    animation: animateRows .345s ease forwards;
}


