
{
	"presets": [
		[
			"env", {
				"targets": {
					"browsers": [
						"last 2 versions",
						"IE >= 9"
					]
				},
				"production": {
					"presets": ["minify"]
				},
				"plugins": [
					"transform-es2015-template-literals"
				]
			}
		]
	]
}