/* Screens above 1180 */
@media(min-width: 1181px) {

    .menu  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mobile-selector {
        display: none;
    }
    
    .nav-collapse {
        flex: 0 0 100%;
    }

    .menu-main-menu-container {
        float: none !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    @keyframes slideFromBottom {
        0% {
          transform: translateY(20px);
          opacity: -1;
        }
      
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }


    .pseudo-select {
        display: none;
    }

    .full-bleed-homepage .homepage-quote {
        padding-bottom: 80px;
    }
  
}

.page-awards .project-grid {
    margin-top: 60px;
}

/*Smaller than 1180 */
@media(max-width: 1180px) {

    .full-bleed-homepage .homepage-quote {
        padding-bottom: 80px;
    }

    .page-leadership .row-fluid,
    .page-领导团队 .row-fluid {
        padding-top: 120px !important;
    }

    .project-nav {
        display: none !important;
    }

    .project-grid {
        margin-top: 120px !important;
    }

    .full-bleed-homepage .mobile-selector {
        display: none;
    }

    .project-thumb {
        width: 33.33333333%;
    }

    .project-thumb:nth-child(3n) {
        border-right: none;
    }

    .project-thumb:nth-child(4n) {
        border-right: 1px solid #FFF;
    }

    .pseudo-select {
        display: none;
    }

    .projectDescription {
        padding-top: 0 !important;
    }

    .projectDescription > div {
        width: 100% !important;
    }
    
    .left p {
        width: 100% !important;
    }

    .projectTitle {
        margin-top: 0px;
        margin-bottom: 0px
    }

    .menu-main-menu a:focus {
        color: #ED2939;
    }
  
    .flex-right {
        visibility: hidden;
        opacity: 0;
        transition: 0s visibility linear .15s, opacity .15s ease;
        position: absolute;
        width: 100vw;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        background-color: #FFF;
        padding-bottom: 60px;
        padding-top: 30px;
    }


    .noscroll {
        overflow: hidden;
        /* position: relative; */
        height: 100%;
    }
    

    .menu li:first-of-type {
        margin-left: 0 !important;
    }

    .menu li:nth-last-child(2) {
        margin-left: 0 !important;
        border-top: 1px solid #B0B0B0;
    }

    .menu li:nth-last-child(1),
    .menu li:nth-last-child(2) {
        font-size: 20px !important;
    }

    .fixed {
        position: fixed !important;
    }

    .active-2 {
        background-color: #FFF !important;
    }

    .open-close {
        visibility: visible;
    }

    .nav-collapse {
        width: 100%;
        border-top: 1px solid #B0B0B0;
        padding: 20px 0;
    } 

    .flex-right {
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 15px;
        padding-left: 15px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 2rem;
        width: 100%;
    }

    .menu-main-menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-nav li,
    .lang-toggle {
        padding: 14px 0 !important;
        margin: 0;
    }
    
    .lang-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid #C0c0c0;
        padding: 20px 0;
    }

    .lang-toggle {
        flex-direction: column;
        text-align: left;
        width: 101px !important;
        float: none !important;
        margin: 0 !important;
    }

    .socialMedia .menu-social-links-menu-container {
        width: 100%;
        margin-right: 0;
    }

    .mobile-selector {
        display: flex;
        height: 60px;
        width: 100%;
        background-color: #ED2939;
        top: 60px;
        left: 0;
        z-index: -1;
        align-items: center;
        justify-content: space-between;
    }

    .selected-project-category {
        text-transform: uppercase;
        font-size: 14px;
    }

    .mobile-selector .selected-category {
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .drop-down-selector {
        padding: 15px;
        position: absolute;
        background: #FFF;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 60px;
        transform: scale(.95);
        opacity: 0;
        visibility: hidden;
        transition: 0s visibility linear .345s, .25s opacity ease, .25s transform ease;
        z-index: 998;
        height: calc(100% - 120px);
        top: 120px;
        position: fixed;
        overflow: auto;

    }

    .mobile-selector.dropped .drop-down-selector  {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: 0s visibility linear, .25s opacity ease, .25s transform ease;
    }

    
    .drop-down-selector a {
        display: block;
        width: 100%;
        color: #c0c0c0;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0 0 0;
    }

    .drop-down-selector a:first-of-type {
        padding-top: 0;
    }

    .drop-down-selector a:active,
    .drop-down-selector a:focus,
    .drop-down-selector a:hover {
        color: #ED2939 !important;
        text-decoration: none !important;
    }
    
    .down-arrow-mobile-selector {
        background-image: url('../images/LaguardaLow_DownArrow-150x150.png');
        height: 30px;
        width: 30px;
        background-size: contain;
        margin-right: 15px;
        transition: .345s ease transform;
    }

    .dropped .down-arrow-mobile-selector {
        transform: rotate(180deg)
    }

    .socialMedia ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

    .socialMedia ul li {
        padding-top: 15px;
        border: 0 !important;
    }

    .copyRight p {
        padding-left: 0 !important;
    }

    .search-mobile {
        display: block;
        width: 100%;
    }

    .search-mobile form {
        align-items: center;
        padding-bottom: 10px;
    }

    .site-footer .container-fluid {
        padding-top: 52px !important;
    }

    .site-footer ul {
        height: 38px;
        overflow: hidden;
        border-top: 1px solid #000;
        transition: all .345s ease;
        padding: 5px 15px 0 15px !important;
    }

    .site-footer .col-md-2,
    .site-footer .col-md-8,
    .site-footer .col-md-4 {
        padding: 0;
    }

    

    .search-mobile #input-area {
        width: 100%;
        border-radius: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
        padding-left: 6px;
        font-size: 18px;
    }

    .search-mobile button.search {
        margin: 0 !important;
    }

    .search-desktop {
        display: none;
    }

    .lang-en,
    .lang-zh {
        font-size: 2rem !important;
        display: block;
        white-space: nowrap;
        text-align: left !important;
    }

    .lang-en {
        margin-bottom: 40px;
    }

    .band .search-container button {
        float: left !important;
    }

    .band .search-container {
        width: 100%  !important;
        padding-bottom: 0;
    }

    .search-container #input-area {
        z-index: 2;
    }

    @keyframes slideFromBottom {
        0% {
          transform: translateY(-20px);
          opacity: -1;
        }
      
        100% {
          transform: translateY(-30px);
          opacity: 1;
        }
      }
 

    /*
    ** Projects
    **/
    .career-title {
        margin-bottom: 30px !important;
    }

    .grid-2.career {
        grid-template-columns: 1fr !important;
    }
}

@media(max-width: 769px) {
    .menu-main-menu-container {
        justify-content: flex-start;
    }

    .sm-hidden {
        display: none !important;
    }
    
    .homepage-quote {
        padding-bottom: 24px !important;
        text-align: left;
        display: inline-block;
    }

    .homepage-quote span {
        text-align: left;
        display: inline-block;
    }
    
    .padding-t-90 {
        padding-top: 135px !important;
    }

    .page-top-left {
        margin-bottom: 30px;
    }

    .lang-container {
        justify-content: flex-start;
        min-height: 200px;
    }

    .full-bleed-homepage {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }

    button.search {
        height: 24px !important;
    }

    /*
      * Projects
      */

    .project-thumb {
        width: 50%;
    }

    .project-thumb:nth-child(2n),
    .project-thumb:nth-child(4n) {
        border-right: none;
    }
    
    .navigation-tabs {
        display: none !important;
    }

    .new-york-band {
        margin-top: 0 !important;
    }

    .new-york-band h3 {
        padding-bottom: 15px;
    }

}
/* Smaller than 414 */

@media(min-width: 769) and (max-width: 1180px) {
    .mobile-hidden {
        display: none;
    }
    
}

@media(max-width: 769px) {
    html,body {
        width: 100%; 
    }

    .quote-h2 {
        font-size: 18px;
    }
    
    .backToCategory {
        display: none !important;
    }
    /* Slider */

    .homepage-quote.empty {
        height: 25% !important;
    }

    .project-slider-container {
        max-height: 212px;
        margin-top: 119px;
        position: relative;
    }

    .flickity-page-dots {
        bottom: 17px !important;
    }

    .project-caption {
        display: none;
    }

    .carousel-cell-image {
        max-width: 100%;
        min-height: calc(100% + 1px);
        object-fit: contain;
    }

    .overlay {
        position: fixed;
        height: calc(100vh - 120px);
        top: 120px;
        z-index: 999;
        overflow-y: auto;
    }

    .close-overlay {
        top: 6px;
        right: 6px;
    }

    .career-link {
        margin-left: 0;
    }

    .career-content {
        columns: 1;
    }

    .content__full-width p {
        font-size: 16px !important;
    }

    .content__full-width right {
    padding: 8px;
    }

    .content__full-width {
        padding: 30px 15px 0 15px;
        grid-gap: 30px;
    }

    .project-info {
        font-size: 16px;
    }

    .grid-2 {
        grid-gap: 1px;
        margin-top: 22px;
    }

    .lang-container {
        justify-content: flex-start;
        min-height: 200px;
    }

    .full-bleed-homepage {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .placeholder {
        margin-top: 120px;
    }

    .slider-wrapper {
        height: 100% !important;
    }

    .grid-container-4 {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        height: auto;
        margin-top: 120px;
    }

    .grid-elements {
        height: 190px;
    }

    .project-nav {
        display: none;
    }
    
    .contact :nth-child(5) {
        grid-row-start: 2;
    }

    .contact :nth-child(6) {
        grid-row-start: 4;
    }

    .grid-4.contact :nth-child(7) {
        grid-row-start: 6;
    }

    .contact .grid-header {
        border-top: 1px solid #000;
        padding-top: 7.5px;
    }
    

    /*
      * Projects
      */

    .project-thumb {
        width: 100%;
        border-right: 0;
        border-right: none;
    }

    .navigation-tabs {
        display: none;
    }

    .singleProjectSlider,
    .singleProjectSlider #slider {
        height: 200px !important;
    }

    .downArrow {
        visibility: hidden;
    }

    .single-project {
        flex-wrap: wrap;
    }

    .mapAndShare {
        display: none;
    }

    .projectTitleHeader {
        height: auto !important;
        padding-bottom: 0 !important;
    }

    .projectTitle {
        display: block;
        width: 100% !important;
    }

    .shareLinks {
        height: auto !important;
        display: flex;
        align-items: center;
    }
    
    .projectContent,
    .relatedProjectsContent {
        flex: 0 0 100% !important;
    }

    .relatedProjectsHeader {
        padding-top: 15px !important;
        padding-left: 15px !important;
        padding-bottom: 15px !important;
        height: auto !important;
    }
     
    .projectContent {
        padding: 0 15px;
    }   

    .project-category {
        font-size: 12.5px !important;
    }

    .relatedProjectsContent {
        padding: 0 !important;

    }

    .relatedProjectsContent {
        visibility: visible !important;
        display: block !important;
    }

    .projectMeta {
        position: relative;
        height: auto !important;
        max-height: 10000px;
        width: calc(100% + 30px);
        margin-left: -15px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 15px;
    }

    .projectMeta.closed {
        height: 44px !important;
        overflow: hidden;
        padding-top: 4px;
    }

    .leftMeta, .rightMeta {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 7.5px;
    }

    .facts-and-figures-header {
        width: 100%;
    }

    .leftMeta strong,
    .rightMeta strong {
        display: block;
        width: 100%;
    }

    .facts-and-figures {
        padding-bottom: 30px;
    }

    .border-top {
        border-top: 1px solid #000;
        padding-top: 6px;
    }
/* 
    .nivoSlider img {
        min-height: 100% !important;
        object-fit: contain !important;
        min-width: 0 !important;
        max-height: 100%;
        height: 200px;
    } */

    body:not(.full-bleed-homepage) .nivo-caption {
        display: none !important;
    }

    .nivo-caption p { 
        /* display: none !important; */
        bottom: 30px;
        transform: translateY(-30px);
    }

    .related-projects-container {
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .related-projects {
        grid-template-columns: 100%;
        grid-gap: 1px;
        margin-top: 0;
        width: calc(100%);
    }

    .relatedProjectsContent h3 {
        color: #FFF !important;
        font-size: 20px !important;
        margin-bottom: 0;
    }
    
    .mobile-map {
        height: 300px !important;
        width: 100%;
        margin-bottom: 30px;
    }

    .grid-2 {
        margin-top: 0;
    }

    .map-row {
        width: 100%;
        height: auto;
        background-color: #F1F1F2;
        padding: 0 15px;
    }

    h4.section-title {
        background-color: #E0E0E0;
        color: #FFF;
        text-transform: capitalize;
        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 20px !important;
    }

    .mapAndShare {
        width: 100% !important;
        margin-left: -5px;
        padding: 15px 0;
        justify-content: flex-start !important;
    }
    
    .social-drop-down {
        height: 60px;
        display: flex;
        width: calc(100% + 30px);
        margin-left: -15px;
        background-color: #E0E0E0;
        margin-bottom: 15px;
        transition: all .345s ease;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        padding-left: 15px;
    }

    .social-drop-down.closed {
        height: 0;
        margin-bottom: 0;
    }
    
    .approach-nav {
        position: relative;
        padding: 2rem;
    }

    .copyRight p {
        width: 100% !important;
    }

    #approach {
        padding-bottom: 15px;
    }

    .grid-header {
        padding-bottom: 0;
    }

    .page-contact .grid-4 {
        grid-gap: 0;
        margin-top: -15px;
    }

    .page-contact .img-block {
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .career-title {
        margin-bottom: 30px !important;
    }

    .map-row .video-container {
        padding-bottom: 15px;
    }

    /* Mobile Archives */
    .table-header {
        overflow-x: auto;
        margin-top: 0 !important;
    }

    .table-header .table-cell,
    .table-header .table-cell:first-of-type {
        min-width: 97px;
        text-overflow: unset;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .table-header .table-cell:first-of-type {
        padding-left: 15px;
    }

    .table-contents .table-row {
        grid-template-columns: 1fr;
    }

    .table-contents .table-row .table-cell {
        padding: 0px 15px;
    }

    .slide-open.open {
        padding: 6px 15px;
    }

    .grid-4.contact p {
        padding-bottom: 6px;
    }

}


/*
* iPhone and iPad
*/

@media(min-width: 320px) and (max-width: 768px) {
    /*
    * Navigation Select
    */

    /* html {
        overflow: hidden;
    } */

    html,body {
        height: 100%;
        width: 100%;
        min-height: 100%;
        min-width: 100%;
    }

    .shareProjectContent.active {
        display: none !important;
    }

    .pseudo-select {
        position: relative;    
        margin-top: 120px;
        display: block;
    }

    .pseudo-select .bar {
        height: 50px;
        background-color: #ED2939;
        color: #FFF;
        display: flex;
        align-items: center;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .project-page::after,
    .project-page::before {
        display: none;
    }

    .pseudo-select .psuedo-select-list {
        list-style: none;
        margin: 0;
        padding: 70px 15px 46px 15px;
        position: relative;
        height: 150px;
        overflow: scroll;
    }

    .pseudo-select::after {
        content: '';
        width: 100%;
        height: 35px;
        background: linear-gradient(transparent, rgba(0,0,0,0.25));
        position: absolute;
        left: 0;
        bottom: 38px;
    }

    .pseudo-select::before {
        content: '';
        width: 100%;
        height: 35px;
        background: linear-gradient(rgba(0,0,0,0.15), transparent);
        position: absolute;
        left: 0;
        top: 50px;
    }

    .pseudo-select .psuedo-select-item {
        font-weight: bold;
        color: #C0c0c0;
        padding: 7.5px 0;
    }

    .pseudo-select .bottom {
        background-color: #EEE;
        color: #000;
        padding: 10px 0;
    }

    .pseudo-select .selected-option {
        width: 100%;
        height: 35px;
        border-top: 1px solid #B0B0B0;
        border-bottom: 1px solid #B0B0B0;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
    }

    .projectTitle h3 {
        font-size: 20px !important;
        width: 100% !important;
    }

    .toggle-footer {
        max-height: 500px;
        height: auto !important;
    }

}


.visible {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: 0s visibility linear, opacity .15s ease;
}